doctype html
html(lang="en")
  head
    meta(charset="utf-8")
    title= title
    link(rel="stylesheet", href="/styles.css")
    script(src="/animation.js")
  body
    h1 Bienvenido a mi aplicación
    p Gracias por visitarnos
