doctype html
doctype html
html
  head
    title Home
    link(rel="stylesheet", href="https://cdn.jsdelivr.net/npm/@fortawesome/fontawesome-free/css/all.min.css")
    link(rel="stylesheet", href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700&display=swap")
    link(rel="stylesheet", href="styles.css")
  body(style="background-color: #141414")
    section.hero(style="background-image: url(https://assets.nflxext.com/ffe/siteui/vlv3/43e89440-eb27-4a90-b82d-b2c1499eb9ac/2c1c3d7d-34d3-427f-b54e-ebd83e82a8f3/AR-es-20220221-popsignuptwoweeks-perspective_alpha_website_small.jpg); background-size: cover; background-position: center center")
      .overlay
      .hero-content
        h1(style="color: #fff; font-weight: 600; font-size: 4rem; margin-bottom: 2rem") Bienvenido a la página de TranscaBot
        h3(style="color: #fff; font-weight: 400; font-size: 2rem; margin-bottom: 3rem")
          a(href="https://t.me/Transca_bot", target="_blank", style="color: #fff; text-decoration: underline;") Únete a nuestro bot de Telegram
      